body {
    font-family: Arial, sans-serif;
    background-image: url('../../assets/images/background_hijau.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.85);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    opacity: 75%;
}

h2 {
    font-size: 32px;
    color: #13131A;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 14px;
    color: #333;
}

#name-apps {
    font-size: 33px;
    font-weight: bold;
    color: #2A9142;
    padding-top: 20px;
}

.grub-login {
    padding-bottom: 10px;
}
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    background-color: #28A745;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

a {
    color: #004E8F;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

hr {
    width: 100%;
    border: 1px solid #333;
    margin: 20px auto;
}
