* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #8ecae6; /* Light blue background */
    padding: 10px 20px;
    position: fixed;
    width: 100%;
}

.navbar-brand {
    align-items: center;
}

.logo {
    width: 30px;
    margin-right: 8px;
}

.brand-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #033649;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
    padding-left: 50px;
    padding-right: 60%;
}

.navbar-links a {
    text-decoration: none;
    font-size: 1rem;
    color: #033649; /* Dark blue text */
    display: flex;
    align-items: center;
    gap: 5px; /* Space between icon and text */
}

.navbar-links a:hover {
    color: #6ba7f5; /* Darker shade on hover */
}

.icon {
    font-size: 1.2rem; /* Size of placeholder icon */
}

.navbar-profile {
    justify-content: end;
    text-align: end;
    align-items: end;
}

.profile-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #b0b0b0; /* Gray background for placeholder */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
