body {
    font-family: Arial, sans-serif;
    background-color: #f8fafb;
    margin: 0;
    overflow: hidden;
}

.navbar-brand {
    color: #004a6b;
    font-weight: bold;
}

.container-fluid {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.atas {
    font-weight: bold;
    padding-top: 120px;
}

.atas h1 {
    color: black;
    text-align: center;
    font-size: 60px;
}

.tengah img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.bawah {
    background-color: #D2EDF4;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    width: 100%;
    max-width: 600px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    gap: 30px;
}

.circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.circle-icon i {
    font-size: 40px;
    color: white;
}

.stop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -60px;
    bottom: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: grey;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.mic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 60px;
    left: -60px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #499CB1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.bawah p {
    margin-top: 10px;
    font-size: 1rem;
    color: #004a6b;
}

.circle-icon.active {
    background-color: grey;
}

.circle-icon.stop-icon.active {
    background-color: red;
}

@media (max-width: 600px) {
    .circle-icon {
        width: 70px;
        height: 70px;
    }

    .circle-icon i {
        font-size: 30px;
    }

    .mic-container {
        bottom: 10px;
        left: 0;
    }

    .stop-container {
        left: -10px;
    }
}
